{% extends 'students/base.html'%}
{% load static %}

{%block head%}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all_students.css' %}">
    <title>SocioStudents</title>
{%endblock head%}
{%block content%}
<section class="ui container" id="page">
<section class="allStudents">
    {%for student in students%}
        <div id="profile" class="ui card">
              <div class="image">
                <img src="{%static 'images/studentDisplayImage.jpg'%}">
              </div>
              <div class="content">
                <a class="header" href="{%url 'list_student' username=student.username %}">{{student.name}}</a>
                <div class="meta">
                  <span class="date">{{student.college}}</span>
                </div>
                <div class="description">
                  {{student.bio}}
                </div>
              </div>
              <div class="extra content">
                <a href="{%url 'list_student' username=student.username %}">
                  <i class="user icon"></i>
                  @{{student.username}}
                </a>
              </div>
        </div>

    {%endfor%}
</section>
</section>
{%endblock content%}   