{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    
    {%block head%}
    {%endblock head%}

    <title>Students</title>
</head>
<body>
	<section class="navbar-area" style="z-index: 1;">	
		<div class="navbar" style="background-color: black;">
			<nav class="nav-left">
			  <a href="{%url 'homepage'%}"><i class="fa fa-home"></i>Home</a>
			  {% if user.is_authenticated %}
			  <a href="{%url 'list_student' username=user.username %}"><i class="fa fa-user"></i>{{user.username}}</a>
			  {%else%}
			  <a href="/accounts/login/"><i class="fa fa-user"></i>My Profile</a>
			  {%endif%}
			</nav>


			<!-- add the login required method here -->
			<nav class="nav-right">
				<a href=""><i class="fa fa-sign-in-alt"></i>Log In</a>
				<a href="{% url 'new_student' %}"><i class="fas fa-user-plus"></i>Sign Up</a>
			</nav>
		</div>
	</section>
	<section class="replacement-area">
	    {%block content%}
	    {%endblock content%}
	</section>
<!-- 	<section class="footer-credits">
		<strong>This was made by Instinct</strong>
	</section> -->
</body>
</html>