{% extends 'students/base.html'%}
{% load static %}
{%block head%}
		<link rel="stylesheet" type="text/css" href="{% static 'css/profilepage.css' %}">
		<title>{{student.username}}</title>
		<script type="text/javascript">
			var deletebtn = document.querySelector("#delete");
			deletebtn.addEventListener('hover', function(){
				alert("THIS ACTION CANNOT BE UNDONE!");
			})
		</script>
{%endblock head%}
{%block content%}
		<article class="profile">
			<div class="page-wrapper">
				<aside>
					<h1>{{student.name}}</h1>
					<p class="flourish">~</p>
					<p class="bio">
					{{student.bio}}</p>
				</aside>
				<article>

					<div class="image"><img src="{%static 'images/profilepagephoto.jpg'%}" /></div>

					<i id="usericon"></i>
					<span id="sociouser">SocioStudent : <span id="username">{{student.username}}</span></span><br>

			        <span>I am <span id="name"> {{student.name}} </span></span><br>

			        <span id="inyear">I have completed <span id="year">{{student.year}}</span> years in college</span><br>

			        <span> I am from <a href="https://www.duckduckgo.com/?q={{student.college}}" id="college" target="_blank">{{student.college}}</a> </span><br>

			        

			        <span> Interests : <span id="interests" style="color: black;">{{student.interests}}</span></span><br>

			        {% comment %} try to split the interests and skills using commas {% endcomment %}

			        <span> Skills : <span id="skills"> {{student.skills}}</span></span><br>

			        <span> I live in : <span id="city">{{student.city}}</span> , <span id="state">{{student.state}}</span>  <a href="https://duckduckgo.com/?q={{student.city}}+{{student.state}}&iaxm=maps" style="background-color: transparent; margin-top: -250rem;"><i class="fi-snsuxl-map-marker"></i></a></span><br>
			        {%if student.username == request.user.username%}
			        <div class="editbutton">
			        	<button><a href="{%url 'edit_student' username=student.username%}">EDIT</a></button>
			        </div>
			        <div class="deletebutton">
			        	<button id="delete"><a href="{%url 'delete_student' username=student.username%}">DELETE MY ACCOUNT</a></button>
			        </div>
			        {%endif%}
	    </article>
{%endblock content%}